{% extends "layout.html" %}

{% block  body %}

<br>

<form name=passdata action="/asama5" method="post">

<label for="basic-url">Karsilastirma yapilacak URL'i giriniz.</label>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    
  </div>
  <input type="text" class="form-control" name="url1" aria-describedby="basic-addon3">
</div>

<label for="text-area">Web sitesi kümesinde bulunan URL'leri alt alta giriniz.</label>
<div class="input-group">
  <div class="input-group-prepend">
  </div>
  <textarea class="form-control" name="url2" aria-label="With textarea" style="height:300px"></textarea>
</div>
<br>
<button type="submit" class="btn btn-secondary btn-lg btn-block">Ara</button>
</form>


{% endblock  body %}

{% block title %}
Asama 5
{% endblock title %}