{% extends "layout.html" %}

{% block  body %}
<br><br>

<label for="basic-url">Karsilastirma yapilacak ilk URL'i giriniz.</label>
<div class="input-group mb-3">
  <div class="input-group-prepend">
   
  </div>
  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
</div>

<label for="basic-url">Karsilastirma yapilacak ikinci URL'i giriniz.</label>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    
  </div>
  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
</div>

<button type="button" class="btn btn-secondary btn-lg btn-block">Ara</button>


{% endblock  body %}