{% extends "layout.html" %}

{% block  body %}
<br>

<form name=passdata action="/asama23" method="post">

<label for="basic-url">Karsilastirma yapilacak ilk URL'i giriniz.</label>
<div class="input-group mb-3">
  <div class="input-group-prepend">
   
  </div>
  <input type="text" class="form-control" name="url1" aria-describedby="basic-addon3">

</div>

<label for="basic-url">Karsilastirma yapilacak ikinci URL'i giriniz.</label>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    
  </div>
  <input type="text" class="form-control" name="url2" aria-describedby="basic-addon3">
  
</div>

<button type="submit" value="submit" class="btn btn-secondary btn-lg btn-block">Ara</button>

</form>



{% if kontrol == True %}


<br><br><br>
<div class="container">
  <div class="row">
    <div class="col">
    <h3>&nbsp&nbsp&nbspIlk URL'in anahtar kelimeleri</h3>
      <ul class="list-group" style="text-align:center;">

      {% for anahtar,deger in sozluk1  %}
       
      <li class="list-group-item" >{{anahtar}}</li>
      {% endfor %}

      </ul>
    </div>
    <div class="col">
    <h3>&nbsp&nbsp&nbspIkinci URL'in anahtar kelimeleri</h3>
     <ul class="list-group" style="text-align:center;">

      {% for anahtar,deger in sozluk2  %}
      <li class="list-group-item" >{{anahtar}}</li>
        
      {% endfor %}

      </ul>
    </div>
  </div>

   <!-- asama3 baslangic -->
   <br><br>
   <h3>Benzerlik Oranı</h3>
   {% if oran >=75 %}

   <div class="progress">
  <div class="progress-bar bg-success" role="progressbar" style="width: {{oran}}%" aria-valuenow="{{oran}}" aria-valuemin="0" aria-valuemax="100">{{oran}}</div>
  </div>
   
   {% elif oran >=50 %}
   <div class="progress">
  <div class="progress-bar bg-info" role="progressbar" style="width: {{oran}}%" aria-valuenow="{{oran}}" aria-valuemin="0" aria-valuemax="100">{{oran}}</div>
  </div>

   {% elif oran >=25 %}
   <div class="progress">
  <div class="progress-bar bg-warning" role="progressbar" style="width: {{oran}}%" aria-valuenow="{{oran}}" aria-valuemin="0" aria-valuemax="100">{{oran}}</div>
  </div>

   {% else %}
   <div class="progress">
  <div class="progress-bar bg-danger" role="progressbar" style="width: {{oran}}%" aria-valuenow="{{oran}}" aria-valuemin="0" aria-valuemax="100">{{oran}}</div>
  </div>
   
   
   {% endif %}
   <br><br><br><br><br>

{% else %}

{% endif %}


<!-- asama3 baslangic -->


{% endblock  body %}


{% block title %}
Asama 2|3
{% endblock title %}