
{% extends "layout.html" %}

{% block  body %}

<div style="background:transparent;
  min-height: 100%;
  min-height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;" 
  class="jumbotron jumbotron-fluid text-center">
  
  <div class="container">
    <img src="https://i.hizliresim.com/fwp77H.png" alt="">
    <p class="lead">Verilen URL’deki web sayfa içeriğine göre birden fazla web sayfasını benzerlik bakımından indeksleyip sıralar.</p>
    <p class="lead" style="font-size:25px">Şevki KARAGÖL - Mustafa YİĞİT</p>
    
  </div>
</div>


{% endblock  body %}

